* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

.Farol {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.luz {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #333; /* Apagado inicialmente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.verde {
  background-color: #333; /* Apagada inicialmente */
}

.vermelha {
  background-color: #333; /* Apagada inicialmente */
}

.amarela {
  background-color: #333; /* Apagada inicialmente */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.video-section {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container {
  width: 660px;
  height: 440px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #555;
}

.video-container img {
  width: 550px; /* Ajuste o tamanho da câmera */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Centraliza a câmera no contêiner */
  margin: 0 auto; /* Centraliza horizontalmente */
  border: 2px solid #ccc; /* Opcional: borda para destacar o feed */
  border-radius: 8px; /* Deixe os cantos arredondados */
}

button {
  display: block; /* Faz o botão ocupar a largura necessária e permite centralizar */
  margin: 20px auto; /* Centraliza horizontalmente e dá espaço em cima e embaixo */
  padding: 10px 20px; /* Define o espaçamento interno do botão */
  background-color: #007BFF; /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda */
  border-radius: 20px; /* Deixa o botão arredondado */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor ao passar por cima */
  transition: all 0.3s ease; /* Adiciona transição suave para o hover */
}

button:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
  transform: scale(1.1); /* Aumenta o tamanho no hover */
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

